QDialog#CAboutDialog {
    background-color: rgb(41, 57, 85);
}

QLabel#titleLabel {
    color: rgb( 255, 255, 255 );
    font-family: Segoe Ui;
    font-size: 30px;
}

QTextBrowser#aboutContentTBrowser {
    background-color: rgb(41, 57, 85);
    color: rgb( 255, 255, 255 );
    border: 0px;
}
